main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans Condensed", serif, sans-serif;
    padding: 25px;
    border-bottom: 20px solid black;
    margin: 0;
    width: 400x;
}

h2 {
    font-size: 40px;
    background-color: aqua;
    color: #DAA520;
    text-align: center;
    font-family: "Open Sans Condensed", serif, sans-serif; 
    border: 5px solid black;
    width: 250px;
    box-sizing: border-box;
    margin-left: 800px;



}

p {
    font-size: 25px;
    text-align: center;
    font-family: "Crimson Text", serif, sans-serif;
}

body {
    background-color: #F2FFFC
}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 20px
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;

}

nav a{
    font-family:  "Open Sans Condensed", sans-serif;
    color: #851944;
}

ul {
    list-style-type: none;
}
