main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans Condensed", serif, sans-serif;
    padding: 25px;
    border-bottom: 20px solid black;
    margin: 0;
    width: 400x;
    text-transform: uppercase;
}

main {
    float: left;
    width: 85%;
}
h2 {
    font-size: 30px;
    background-color: aqua;
    color: #DAA520;
    text-align: center;
    font-family: "Open Sans Condensed", serif, sans-serif; 
    border: 5px solid black;
    width: 250px;
    box-sizing: border-box;
    margin-left: 800px;

}

p {
    font-size: 25px;
    text-align: center;
    font-family: "Crimson Text", serif, sans-serif;
    line-height: 20px;
    margin: 20px
}

body {
    background-color: #F2FFFC;
    line-height: 30px;

}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 5px;
    clear: both;
    margin: 0px;
}


aside {
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    float: right;
    clear: right;
    width: 15%;
    width: 285px;
    box-sizing: border-box;
}
aside p {
    font-size: 20px;
    line-height: 5px;
}

#foto_perfil{
    width: 285px;
    float: right;

}

.icones-sociais a{
    width: 48px;
    height: 48px;
    color: transparent;
    display: block;
    
}

.icones-sociais li{
    display: inline-block;
}
nav a{
    font-family:  "Open Sans Condensed", sans-serif;
    color: #F2FFFC;
}

nav h1{
    font-size: 30px;
    margin: 25px;
}

ul {
    list-style-type: none;

}

.github{
    background-image: url(github-48.png)
}
.instagram{
    background-image: url(instagram-48.png)
}

