body{
    line-height: 1.5;
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
}
h1{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
    text-align: justify;
    margin: 20px 0;
    position: relative;
    left: 200px;
    font-size: 20px;
}

.bmw {
    width: 350px;
    border: 8px solid black;
    position: relative;
    left: 200px;
    top: 20px;
    padding: 16px;
    font-size: 25px;
    color: #851944;
    text-decoration: underline;
}

.ibm {
    width: 350px;
    border: 8px solid black;
    position: relative;
    left: 200px;
    top: 100px;
    padding: 16px;
    font-size: 25px;
    color: #851944;
    text-decoration: underline;
}

.uol {
    width: 350px;
    border: 8px solid black;
    position: relative;
    left: 650px;
    top: -620px;
    padding: 16px;
    font-size: 25px;
    color: #851944;
    text-decoration: underline;
}

.g1 {
    width: 350px;
    border: 8px solid black;
    position: relative;
    left: 650px;
    top: -540px; 
    padding: 16px;
    font-size: 25px;
    color: #851944;
    text-decoration: underline;
}

.titulo_principal{
    background-color: #851944;
    color: #FFF;
    width: 100%;
    padding: 25px;
    border: 10px solid black;
    box-sizing: border-box;
    font-size: 60px;
    text-align: center;

}

.navegação_site{
    text-align: center;
    background-color: #3C1D3D;
    color: #FFF;
    border: 10px solid black;
    box-sizing: border-box;
    width: 320px;
    position: absolute;
    left: 1586px;
    bottom: 400px
}
.titulo_nav{
    font-size: 30px;
    margin-bottom: 25px;
}
li a{
    color: #FFF;
}

.minha_foto{
    border: 10px solid black;
    position: absolute;
    box-sizing: border-box;
    left: 1586px;
    bottom: 600px;
}

.rodape{
    background-color: black;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;

}
.icones_sociais li{
    display: inline-block;
}


.github{
    background-image: url(img/github.png)
}

.twitter{
    background-image: url(img/twitter.png)
}

.linkedin{
    background-image: url(img/linkedin.png)
}

.icones_sociais a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}
